.masthead{
  flex-direction: column;
  padding:0;
  padding-bottom: 1em;
}
.masthead img{
  display:block;
  margin: 0 auto;
}
.masthead nav{
  padding:0;
}
nav ul{
  flex-flow: column wrap;
  align-items: flex-start;
}
nav ul li{

  border-bottom: 1px dashed grey;
  border-left:none;
  align-self: stretch;
}
nav ul li:first-child{
  border-top: 1px dashed grey;
}
nav ul li:last-child{
  border-bottom: none;
}
.promo-nav{
  display:none;
}
.content{
  margin-top:-2.5em;
  border-top: none;
}
.content .testimonals{
  display:none;
}
.content .difference{
  border-left: none;
}
.footermain{
  flex-flow: column
}
.footermain .link-contact{
border-bottom: 1px dashed grey;
margin-bottom: 2.5em;
}
.footermain .link-contact ul{
  padding:20px;

}
